body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }
a {
  color: #00B7FF;
}
section {
  float: left;
  background: #eea642;
  padding: 10px;
  margin: 3px;
  width: 320px;
  min-height: 100px;
  border-radius: 10px;
}
section:first-of-type {
  margin-left: 0;
}
section:last-of-type {
  margin-right: 0;
}
section h3 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.input label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}
input,
button {
  font: inherit;
}
button {
  margin-top: 10px;
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  border-radius: 0;
  background: #ecf0f1;
  cursor: pointer;
}

.item {
  margin: 15px 0;
  padding: 5px;
  background: #ffff80;
  border: 2px dashed #ffb84d;
  width:100%;
}
