<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" crossorigin="anonymous"></script>
    <title> Home Page </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/updateMain.js"></script>
</head>



<body>



    <h1 id="homeTitle">DEMO <small> v1.0</small></h1>

    <!-- NAVIGATION BAR -->

    <nav class="navbar navbar-inverse bg-inverse" style="background-color: #eea642;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.onbiron.com.tr/">Onbiron</a>
            </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8000/">Home&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-list" aria-hidden="true"></a></span></li>
            <li><a href="http://localhost:8000/rules">Rules JSON</a></li>
        </ul>
        </div>
    </nav>

    <h4 align="right" id="mongoIdFooter">Rule MongoDB ID: <b>{{ mongoId }}</b></h4>

    <!-- NAVIGATION BAR -->





        <section class="col-xs-12 .col-sm-6 .col-lg-8">
            <center><h3 id="panelHeading"><b>UPDATE RULE</b></h3></center>
            <form class="form-inline" action="/update" method="post" id="mainForm">

                <div class="insertCommon">
                    <center>
                        <div class="row">
                            <div class="form-group">
                                <h4><label for="ruleStatus">Rule Status:</label></h4>
                                <div class="input-group">
                                    <div id="radioBtn" class="btn-group">
                                        <a id="activeRule" class="btn btn-primary btn-lg notActive" data-toggle="ruleStatus" data-title="ACTIVE">ACTIVE</a>
                                        <a id="pendingRule" class="btn btn-primary btn-lg notActive" data-toggle="ruleStatus" data-title="PENDING">PENDING</a>
                                        <a id="stoppedRule" class="btn btn-primary btn-lg notActive" data-toggle="ruleStatus" data-title="STOPPED">STOPPED</a>
                                    </div>
                                    <input type="hidden" name="ruleStatus" id="ruleStatus" required>
                                </div>
                            </div>
                        </div>

                            <h4><label for="description">Description:</label></h4>
                            <input type="text" class="form-control input-lg" id="description" name="description" rows="3" size="75" placeholder="Description:" required>

                            <h4><label for="name">Name:</label></h4>
                            <input type="text" class="form-control input-lg" id="name" name="name" placeholder="Name:" required>

                    </center>
                </div>


                <center>
                    <div class="row">
                        <div class="form-group">
                            <h3><label for="type">Type:</label></h3><br>
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a id="triggeredSwitch" class="btn btn-primary btn-lg notActive" data-toggle="type" data-title="TRIGGERED">TRIGGERED</a>
                                    <a id="manuelSwitch" class="btn btn-primary btn-lg notActive" data-toggle="type" data-title="MANUEL">MANUEL</a>
                                    <a id= "scheduledSwitch" class="btn btn-primary btn-lg notActive" data-toggle="type" data-title="SCHEDULED">SCHEDULED</a>
                                </div>
                                <input type="hidden" name="type" id="type" required>
                            </div>
                        </div>
                    </div>
                <center>


                <div class="insertCommon" id="adjustPanel">
                    <center>

                        <!-- SCHEDULED MODE PROPERTIES -->

                        <label for="startTime" id="startTimeLabel">Start Time:<br></label>
                        <input type="text" class="form-control" id="startTime" name="startTime">

                        <label for="scheduledTime" id="scheduledTimeLabel"><br><br>Scheduled Time:<br></label>
                        <input type="text" class="form-control" id="scheduledTime" name="scheduledTime">

                        <label for="scheduleInterval" id="scheduleIntervalLabel"><br><br>Schedule Interval:<br></label>
                        <input type="text" class="form-control" id="scheduleInterval" name="scheduleInterval">

                        <label for="executionTimes" id="executionTimesLabel"><br><br>Execution Times:<br></label>
                        <input type="text" class="form-control" id="executionTimes" name="executionTimes">

                        <label for="endTime" id="endTimeLabel"><br><br>End Time:<br></label>
                        <input type="text" class="form-control" id="endTime" name="endTime">

                        <!-- SCHEDULED MODE PROPERTIES -->


                        <!-- NOT SHOWN TO CLIENT -->

                        <input type="hidden" class="form-control" id="parentAppId" name="parentAppId" value="0900BEA391D448F293D680AB9EEEA0E1">

                        <input type="hidden" class="form-control" id="status" name="status">

                        <input type="hidden" class="form-control" id="deviceId" name="deviceId" value="98451602903504102854">

                        <input type="hidden" name="requestTypes" id="requestTypes" name="requestTypes" value="EDIT">

                        <!-- NOT SHOWN TO CLIENT -->

                        <!-- TRIGGERED MODE PROPERTIES -->

                        <label for="condition" id="conditionLabel"><br><br>Condition:<br></label>
                        <input type="text" class="form-control input-lg" id="condition" name="condition" size="75" placeholder="Condition:">

                        <!-- TRIGGERED MODE PROPERTIES -->

                    </center>
                </div>



                <center>
                    <div class="insertCommon">
                        <h4><label for="action">Action:</label></h4>
                        <input type="text" class="form-control input-lg" id="action" name="action" size="75" placeholder="Action:" required><br>
                    </div>
                </center>



                <center>
                    <div class="insertButton">
                        <button id="updateButton" type="submit" class="btn btn-info btn-lg" name="ruleMongoDbId" value="{{ mongoId }}">UPDATE</button>
                    </div>
                </center>
            </form>


        </section>



</body>
</html>
